.main{
    background-color: rgba(237, 168, 112, 0.932);
    width: 400px;
    max-width: 900px;
    text-align: center;
    margin: auto;
    height: 800px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top:10px ;

}

.strip{
    width: 50px;
    height: 900px;
    transform: rotate(140deg);
    position: absolute;
    left: 200px;
    background-color: cornflowerblue;
    z-index: 1;

}
.lang{
    position: absolute;
    z-index: 5;
    margin: 1rem;
    gap: 1rem;
    
 
}
.card{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    margin: auto;
    margin-top: 10px;
    height: 140px;
    width: 160px;
    display: flex;
    align-items: center;
    padding: 1rem;
}
.cardback{
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}