.main{
    background-color: rgba(237, 168, 112, 0.932);
    width: 400px;
    max-width: 600px;
    text-align: center;
    margin: auto;
    height: 900px;
    border-radius: 10px;

}

.strip{
    width: 50px;
    height: 900px;
    border: 1 px solid red;
    transform: rotate(140deg);
    position: absolute;
    left: 200px;
    background-color: cornflowerblue;
}