.main{
    background-color: rgba(237, 168, 112, 0.932);
    width: 400px;
    max-width: 600px;
    text-align: center;
    margin: auto;
    height: 800px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

}

.strip{
    width: 50px;
    height: 900px;
    transform: rotate(140deg);
    position: absolute;
    left: 200px;
    background-color: cornflowerblue;
    z-index: 1;

}
.lang{
    position: relative;
    z-index: 5;
    margin: 1.3rem;
}